@model Blog.Dados.Models.TblAutor

<div class="container">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form id="frmPagina" was-validated>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Nome">Nome</label>
                        <input type="text" class="form-control" id="Nome" name="Nome" placeholder="" value="@Model.Nome" maxlength="50">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="SobreNome">SobreNome</label>
                        <input type="text" class="form-control" id="SobreNome" name="SobreNome" placeholder="" value="@Model.SobreNome" maxlength="50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Email">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&#64;</span>
                            </div>
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" value="@Model.Email" maxlength="100">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="ConfirmarEmail">Confirmar Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&#64;</span>
                            </div>
                            <input type="text" class="form-control" id="ConfirmarEmail" name="ConfirmarEmail" placeholder="Confirmar Email" value="@Model.Email"  maxlength="100">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Resumo">Resumo</label>
                        <div class="input-group">
                            <textarea class="form-control" id="Resumo" name="Resumo" rows="3" maxlength="500">@Model.Resumo</textarea>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="Foto">Foto</label>
                            <input type="file" class="form-control-file" id="Foto" name="Foto" accept="image/*" aria-describedby="fileHelp">
                            <small id="fileHelp" class="form-text text-muted">Escolha uma foto ou avatar para ser identificado nos textos publicados.</small>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="button" id="btnSalvar">Salvar</button>
                <hr class="mb-4">
            </form>
        </div>
    </div>
</div>