@model List<Blog.Dados.Models.TblAutor>

<table class="table table-striped table-hover table-sm">
    <thead class="thead-default">
        <tr>
            <th scope="col" style="width:5%;" >#</th>
            <th scope="col" style="width:20%;">Foto</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Data Interação</th>
            <th style="width:5%;"></th>
            <th style="width:5%;"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var Autor in Model)
            {
            <tr data-id="@Autor.Id"  scope="row">
                <th scope="row">@Autor.Id</th>
                <td>
                    @{if (@Autor.Foto != "null")
                        {
                            <img src="~/images/Fotos/@Autor.Foto" class="img-thumbnail img-responsive" style="width: 50%;max-width: 400px;height: auto;" />
                        }
                     }
                </td>
                <td>@(Autor.Nome + " " + Autor.SobreNome)</td>
                <td>@Autor.Email</td>
                <td>@string.Format("{0:dd/MM/yyyy}", @Autor.DataCadastro)</td>
                <td><button class="btn border border-warning" type="submit" id="btnEditar" rel="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit fa-lg"></i></button></td>
                <td><button class="btn border border-danger" type="submit" id="btnExcluir" data-toggle="confirmation" rel="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash-alt fa-lg"></i></button></td>
            </tr>
            }
        }
    </tbody>
</table>